<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chamada de senha</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container-small-center">
      <h1>Chamada de senha</h1>
      <label for="senha">Digite o número da senha a ser chamada </label>
      <input class="input" type="number" id="senha" name="senha" min="1" required />
      <button type="button" id="enviar" class="button">Enviar</button>
    </div>
    <script src="/js/chamada.js"></script>
  </body>
</html>
